node_modules
dist
build
coverage
.turbo
.vite
*.log
.env
.env.local
.DS_Store
Thumbs.db
playwright-report
test-results
blob-report
.idea
.vscode/*
!.vscode/extensions.json
reports
*.tsbuildinfo
tools/
data/
*.zip
